body{
    text-align: center;
    background-color: darkorange;
}
div{
    margin-top: 15px;
    
}
span {
    margin-left: 10px;
}
#image-selection1{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: darkorange
}
#image-selection2{
    display: fixed;
    justify-content: left;
}